@model InversionesII.Models.Inversion

@{
    ViewData["Title"] = "Edit";
}


<div class="content-wrapper">
    <section class="content">
        <h1>Editar Inversion</h1>
        <div class="card card-primary">

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Monto" class="control-label"></label>
                                <input asp-for="Monto" class="form-control" />
                                <span asp-validation-for="Monto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Plazo" class="control-label"></label>
                                <input asp-for="Plazo" class="form-control" />
                                <span asp-validation-for="Plazo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TasaInteres" class="control-label"></label>
                                <input asp-for="TasaInteres" class="form-control" />
                                <span asp-validation-for="TasaInteres" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FechaIngreso" class="control-label"></label>
                                <input asp-for="FechaIngreso" class="form-control" />
                                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                            </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
